table {
  margin: auto;
}
h1 {
  text-align: center;
  font-family: "Sofia", sans-serif;
}

td {
  height: 300px;
  width: 200px;
  border: 10px white solid;
}
#one {
  background-color: violet;
}
#two {
  background-color: indigo;
}
#three {
  background-color: blue;
}
#four {
  background-color: green;
}
#five {
  background-color: yellow;
}
#six {
  background-color: orange;
}
#seven {
  background-color: red;
}
